<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Managlea Resource Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">./src</directory>
        <file>./src/Action/Error.php</file>
    </whitelist>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
